body{
	background-color: #7F2A68;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat:repeat-y;
	color: #fff;
	font-size: 160%;
	font-family: monospace;
	margin-top: 10%;
	margin-bottom: 7%;
}
.container{
	padding-left: 5em;
	padding-right: 5em;
}
.topnav{
	background-color: #222;

}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
input{
	color: #46243D;
}
.userHead{
	text-align: right;
	display: inline;
	float: right;
	background-color: #222;
	padding-top: 0.4em;
	display: inline-block;
}
.menuHead{
	margin-top: 3.2em;
	background-color: #86A136;
}

.menuAnc{
	color: #fff;
	font-weight: bolder;
 }
.eventAnc{
	text-decoration: none;
	color: #fff;
}
.eventAnc:hover{
	color: #fff;
}
.menuAnc:hover{
	color: #fff;
}
.menuBtn{
	height: 100%;
	margin:0;
	padding-top:1em;
	padding-bottom:1em;
	background-color: #86A136;
}
.menuBtn:hover{
	background-color: #46243D;
	height: 100%;
	margin:0;
	padding-top:1em;
	padding-bottom:1em;
}

.logo{
	width: 43%;
	background-repeat: no-repeat;
}

.addBtn{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0.3em;
	border-radius: 0px;
	width: 6em;
}
.partyImg{
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.linkBtn{
	width: 6em;
	height: 6em;
	margin-bottom: 1em;
	border-radius: 100%;
	padding: 0.5em;
	font-weight: bold;
	margin-top: 1em;
}
.tblBtn{
	width: 100%;
	height: 3em;
	padding-top: 2.5em;
	padding: 1em;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	border-radius: 0px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: left;
	background-size: contain;
	text-align: center;
}

.backBtn{
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	border-radius: 0px;
}

.logoutBtn{
	float: right;
	margin-top: 0px;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 1em;
	margin-right: 10px;
}

.loginBtn{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	border-radius: 0px;
	width: 12em;
}

.loginForm input, select{
	height: 2em;
	width: 12.5em;
	font-size: 20px;
	margin-bottom: 0.7em;
}

strong{
	color: #990;
}

.eventHeader{
	margin-top: 0.4em;
	font-size: 1.6em;
	font-weight: bold;
}
.eventName{
	margin-top: 0.4em;
	font-size: 1.6em;
	font-weight: bold;
}

.nameBox{
	min-height: 7.5em;
}
.infoBox{
	min-height: 9em;
}
.buttonBox{
	margin-left: 0.5em;
}
.btn-primary{
	background-color: #86A136;
	border: 0px;
}

.btn-success{
	background-color: #57672B;
	border: 0px;
}

.btn-danger{
	background-color: #2C117D;
	border: 0px;
}

.btn-primary:hover{
	color: #554200;
	background-color: #fff;
}

.btn-success:hover{
	color: #554200;
	background-color: #fff;
}

.btn-danger:hover{
	color: #554200;
	background-color: #fff;
}

.featurePanel{
	background-color: #46243D;
	padding: 0.5em;
	padding-top: 0.5em;
}

.categoryPanel{
	background-color: #46243D;
	padding: 2em;
}
.featureHeader{
	text-align: center;
	font-weight: bold;
	margin-bottom: 0em;
}
.featureContent{
	margin-top: 0.3em;
	margin: 0.3em;
	width: 31%;
	padding-top: 1em;
	text-decoration: none;
	color: #fff;
	opacity: 1;
	text-align: center;
}

.featureContent:hover{
	text-decoration: none;
  opacity: 0.5;
	color: #fff;
}

.infoPane{
	list-style: none;
	padding-left: 0;
	padding: 0.5em;
}

.navbar-fixed-bottom{
	padding:0;
	margin:0;
}
@media screen and (max-width:1000px){
	body{
		font-size: 140%;
		margin-bottom: 15%;
		margin-top: 18%;
	}
	.container{
		padding: 0em;
	}
	.linkBtn{
		width: 5em;
		height: 5em;
		margin-bottom: 1em;
		border-radius: 100%;
		padding: 0.5em;
		font-weight: bold;
		margin-top: 1em;
	}
	.navbar-fixed-bottom{
		height:12%;
	}
	.tblBtn{
		width: 100%;
		height: 3.5em;
		padding-top: 1em;
	}

	.backBtn{
		float: none;
		margin-left: 40%;
		text-align: center;
		font-size: 1em;
	}
	.featurePanel{
		margin: 0px;
	}
	.featureContent{
		width: 45%;
	}
	.nameBox{
		min-height: 6.7em;
	}
	.addBtn{
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 0.3em;
		border-radius: 0px;
		width: 3.7em;
	}
	.linkBtn{
		margin-bottom: 1em;
		border-radius: 100%;
		padding-top: 0.7em;
		font-weight: bold;
	}
	.eventHeader{
		font-size: 100%;
		font-weight: bold;
	}
	.loginForm input, select{
		height: 2em;
		width: 13.5em;
		font-size: 20px;
		margin-bottom: 0.7em;
		margin-right: 2em;
	}
}
