{% if session['name'] %}
{% extends "layout.html" %}
{% block body %}
  <div class = "container">
    <h3 class = "text-center">{{msg}}</h3>
    <a class="btn btn-default backBtn" href="/menu" role="button">Back</a>
    <form class = "loginForm text-center" action="/events" method = "post">
  		<input name = "event_name" placeholder = "event name" type = "text"></input>
  		<button class = "btn btn-primary addBtn">Add</button>
  	</form>
    <table class = "table table-bordered table-striped">

    {% for entry in entries %}
      <tr>
        <td>{{ entry.cat_id }}</td>
        <td>{{ entry.event_name}}</td>
      </tr>
    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </table>


  </div>
{% endblock %}
{% endif %}
