{% if session['name'] %}
{% extends "layout.html" %}
{% block body %}
    <h3 class = "text-center">{{msg}}</h3>

    <div class = "container">
    {% for entry in entries %}
      <a class="btn btn-default backBtn" href="/" role="button">Back</a>
      <div class = "row">
        <div class = "col-xs-2 col-md-4"></div>
        <div class = "col-xs-8 col-md-4"><img class = "img-responsive" src = "{{entry.img_url}}"/></div>
        <div class = "col-xs-2 col-md-4"></div>
      </div>
      <div class = "row">
        <h2 class = "text-center eventName">{{ entry.event_name }}</h2>
        <ul class = "infoPane">
          <li><strong>Date:</strong> {{ entry.startDate }} - {{ entry.endDate }}</li>
          <br/>
          <li><strong>Venue:</strong> {{ entry.venue }}</li>
          <br/>
          <li><strong>About:</strong> {{ entry.about }}</li>
        </ul>
      </div>

      <div class = "row col-xs-12">
        <a class="btn btn-primary linkBtn" target = "blank" href="{{entry.facebook}}" role="button"><br/>Facebook</a>
        <a class="btn btn-primary linkBtn" target = "blank" href="{{entry.tickets}}" role="button"><br/>Tickets</a>
      </div>

    {% else %}
      <em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    </div>
    <div class = "row artistPane">
      <div class = "col-xs-1"></div>
      {% for artist in artists %}
      <div class = "col-xs-2">
        <h3 class = "text-center">{{artist.artist}}</h3>
        <a href="{{artist.artist_link}}" target = "blank"><img class = "partyImg img-responsive" src = "{{artist.artist_img}}"/></a>
      </div>
      {% endfor %}
      <div class = "col-xs-1"></div>
    </div>
{% endblock %}
{% endif %}
